/* General Styles */
body {
    font-family: 'Roboto', sans-serif;
    background-color: #f0f0f5;
    color: #4a4a4a;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

/* Header */
header {
    background-color: #5bc0de;
    color: white;
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    color: #ffd700;
    text-decoration: underline;
}

/* Main Content */
main {
    padding: 20px;
}

.search-bar {
    text-align: center;
    margin-bottom: 20px;
}

.search-bar input {
    padding: 10px;
    width: 50%;
    font-size: 16px;
}

.recipe-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

.recipe {
    background-color: white;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.recipe img {
    width: auto;
    height: auto;
    border-radius: 10px;
    transition: transform 0.3s ease;
}

.recipe:hover img {
    transform: scale(1.05);
}

.recipe h3 {
    color: #5bc0de;
    font-size: 1.5em;
    margin-bottom: 10px;
}

.show-more {
    color: #5bc0de;
    font-weight: bold;
    cursor: pointer;
    margin-top: 10px;
}

/* Footer */
footer {
    background-color: #212529;
    color: white;
    padding: 20px;
    text-align: center;
}

/* Add margin to create gap between Recipes and About Us */
#about {
    margin-top: 60px;
    /* Adjust this value for the gap size you want */
}

/* Responsive Design */
@media (max-width: 768px) {
    .recipe-grid {
        grid-template-columns: 1fr;
    }
}